<% include ../partials/header %>

    <div class="row">
        <h1 style="text-align: center">Editar Comentario</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/checkin/<%= checkin_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-warning btn-block">Confirmar!</button>
                </div>
            </form>
            <a href="/checkin">Voltar</a>
        </div>
    </div>
<% include ../partials/footer %>