<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Adiciona novo comentario para <%= checkin.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/checkin/<%= checkin._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="text">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-warning btn-block">Confirmar!</button>
                </div>
            </form>
            <a href="/checkin">Voltar</a>
        </div>
    </div>
<% include ../partials/footer %>