<% include ./partials/header %> 
<div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="firstName" placeholder="firstName">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="lastName" placeholder="lastname">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="email">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="avatar" placeholder="avatar url">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="adminCode" placeholder="Admin Code">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-warning btn-block">Confirmar!</button>
            </div>
        </form>
        <a href="/campgrounds">Voltar</a>
    </div>
</div>
<% include ./partials/footer %> 