.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.navbar-default{
    background-color: #DAA520;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-brand {
    color: black;
}

#delete-form {
    display: inline;
}

.thumbnail .caption{
    margin-top: 0;
    margin-bottom: 0;
}