<% include ../partials/header %>

    <div class="row">
        <h1 style="text-align: center">Edit <%= checkin.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/checkin/<%= checkin._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="checkin[name]" value="<%= checkin.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="checkin[nota]" value="<%=checkin.nota%>" min="1.00" step="1.00">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="checkin[image]" value="<%= checkin.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="checkin[description]" value="<%= checkin.description %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-warning btn-block">Confirmar!</button>
                </div>
            </form>
            <a href="/checkin">Voltar</a>
        </div>
    </div>

<% include ../partials/footer %>