<% include ../partials/header %> 
    <% if(currentUser && currentUser.isAdmin){ %>
        <h1>you're admin</h1>
    <% } %>
    
     <header class="jumbotron">
         <div class="container">
             <h1>Bem vindo ao Untapd!</h1>
             <p>Veja todos os Check-ins feitos pelas pessoas!</p>
             <p>
                <a class="btn btn-warning btn-large" href="/checkin/new">Fazer um Check-in!</a>
             </p>
             <p>
                 <form action="/checkin" method="GET" class="form-inline">
                     <div class="form-group">
                         <input type="text" name="search" placeholder="Checkins.." class="form-control">
                         <input type="submit" value="Search" class="btn btn-default">
                     </div>
                 </form>
             </p>
         </div>
     </header>
     
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% checkin.forEach(function(checkin){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= checkin.image %>">
                   <div class="caption">
                       <h4><%= checkin.name %></h4>
                   </div>
                   <div class="caption">
                       <h5>Autor: <a href="/users/<%=checkin.author.id%>"><%=checkin.author.username%></a></h5>
                   </div>
                   <p>
                       <a href="/checkin/<%= checkin._id %>" class="btn btn-warning">Mais detalhes</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>