<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Detalhes do Check in</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/checkin" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="checkin[name]" placeholder="nome da cerveja">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="checkin[nota]" placeholder="1 a 5" min="1" step="1.00">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="checkin[description]" placeholder="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-warning btn-block">Confirmar!</button>
                </div>
            </form>
            <a href="/checkin">Voltar</a>
        </div>
    </div>
<% include ../partials/footer %>