<% include ../partials/header %>

    <div class="row">
        <div class="col-md-3">
            <p class="lead">Untapd!</p>
            <div class="list-group">
                <li class="list-group-item active">Nota: <%= checkin.nota %></li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= checkin.image %>">
                <div class="caption-full">
                    <h4><a><%=checkin.name%></a></h4>
                    <p><%= checkin.description %></p>
                    <p>
                        <em>Autor: <a href="/users/<%=checkin.author.id%>"><%= checkin.author.username %></a>, <%= moment(checkin.createdAt).fromNow() %></em>
                    </p>
                    <% if(currentUser && checkin.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-xs btn-warning" href="/checkin/<%= checkin._id %>/edit">Edit</a>
                        <form id="delete-form" action="/checkin/<%= checkin._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/checkin/<%= checkin._id %>/checkin/new">Comentar</a>
                </div>
                <hr>
                <% checkin.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p>
                                <%= comment.text %> 
                            </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                            <a class="btn btn-xs btn-warning" 
                               href="/checkin/<%=checkin._id %>/comments/<%=comment._id %>/edit">Edit</a>
                            <form id="delete-form" action="/checkin/<%=checkin._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

<% include ../partials/footer %>